<head>
  <title>Event at <%= event.location %></title>
</head>

<body>
  <div class='container'>
    <br>
    <h1>Event at <%= event.location %></h1>
    <hr>
    <h4><%= event.food %></h3>
    <br>
    <h4>Hosted By <%= event.host %></h3>
    <hr>
    
    <p>Posted At <%= event.time %> on <%= event.date %></p>
  </div>
</body>

